useDynLib(veriNA3d, .registration=TRUE)
import(bio3d)
import(Rcpp)
#importFrom(Rcpp, evalCpp)
import(parallel)
import(plot3D)
import(MASS)
importFrom(jsonlite, fromJSON)
importFrom(dplyr, bind_rows)
importFrom(RColorBrewer, brewer.pal)
importFrom(RANN, nn2)
importFrom(circlize, circos.par, circos.initialize, circos.trackPlotRegion, circos.axis, circos.trackPoints, circos.trackHist, circos.clear)

#exportPattern("^[[:alpha:]]+")
export( 
	angles_dist, 

	binding.RNAprot,
	bp_hist, 

	check.nt, 
	check_etatheta, 
	cluster.select, 

	distances_entities,
	distances_eleno,

	eRMSD, 

	get_alternative_representants, 
	get_leontis_nr_list,

	has_x_hetAtms, 

	is.cif, 
	is_valid_eRMSD, 

	make_aantinfo, 
	make_ntinfo, 
	measure, 
	measure_pucker, 
	model.select, 

	last_release,

	parse.cif, 
	PDBapply, 
	plot_circular_distribution, 
	plot.eta.theta2, 
	plot_et, 
	plot_hist, 

	queryAPI,
	query_authors,
	query_chains, 
	query_compound,
	query_compType,
	query_depdate,
	query_entities,
	query_formats,
	query_header,
	query_hetAtms,
	query_modres,
	query_NDBId,
	query_orgligands,
	query_pdblist,
	query_reldate,
	query_resol,
	query_revdate,
	query_technique,

	rcpp_hello_world,
	RNA_classifier, 
	rvec_plot, 
	rVECTOR, 

	select_ntID_neighbours,
	shift360, 
	subset_bypucker, 
	subset_ntinfo, 

	trim_by_ntID,
	trim_sphere
	)
